<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%} - Todo List</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <nav class="baseHead">
        <h1 id="title1">Lista de Tareas</h1>
        <ul class="options">
            {% if g.user %}
            <li class="hbutton"><span id="usersp">{{g.user['username']}}</span></li>
            <li class="hbutton"><a href="{{url_for('auth.logout')}}">Cerrar Sesion</a></li>
            <li class="hbutton"><a href="{{url_for('auth.about')}}">Acerca de</a></li>
            {%else%}
            <li class="hbutton"><a href="{{url_for('auth.register')}}">Registrarse</a></li>
            <li class="hbutton"><a href="{{url_for('auth.login')}}">Iniciar Sesión</a></li>
            <li class="hbutton"><a href="{{url_for('auth.about')}}">Acerca de</a></li>
            {% endif %}
            
        </ul>
    </nav>
    <section class="content">
        <header>
            {%block header%}{%endblock%}
        </header>
        {%for message in get_flashed_messages()%}
        <div class="flash">{{message}}</div>
        {%endfor%}
        {%block content%} {%endblock%}
    </section>
  
</body>
</html>
